/* Typing demo text in the middle */

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 14ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-weight:500;
  font-size: 2em;
  color: dimgray;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

body {
    color: dimgrey;
    background-color: white;
}

a {
  text-decoration: none;
}



/* Landing page area */

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    text-align: center;
    padding: 0em;
}



/* Navbar */

.nav{
  width:100%;
  text-align: center;
  background-color: white;
}

.bottom-nav{
  position: absolute;
  bottom: 0;
}

.top-nav{
  position: fixed;
  top:0;
}

.nav ul li{
  list-style: none;
  display: inline-block;
}

.nav ul li .nav-link{
  font-family: 'Montserrat', sans-serif;
  color:dimgray;
  font-size: 20px;
  font-weight: 350;
  padding: 70px;
}

.nav ul li .nav-link:hover{
  color: #7fabe3;
}

/* icon bar (at the top) */

.icon-bar {
  text-align:center;
  width:10%;
  height:auto;
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center;
  width: 33%; /* Equal width (3 icons with 33% width each = 100%) */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: dimgray;
}

.icon-bar-link i{
  font-size: 25px;
}

.icon-bar a:hover {
  color: #7fabe3;
}

/* Navbar Pages */

.container{
  width: 70%;
  margin: 50px auto;
  padding: 50px;
}

.container .page{
  height: 100vh;
}