html {
  scroll-behavior: smooth;
}

/* Typing demo text in the middle */

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 14ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-weight:500;
  font-size: 2em;
  color: dimgray;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes education {
  from {background-color: red;}
  to {background-color: yellow;}
}

body {
    color: dimgrey;
    background-color: white;
}

a {
  text-decoration: none;
}

.fade-in {
animation: fadeIn ease 7s;
-webkit-animation: fadeIn ease 7s;
-moz-animation: fadeIn ease 7s;
-o-animation: fadeIn ease 7s;
-ms-animation: fadeIn ease 7s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}


/* Landing page area */

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    text-align: center;
    padding: 0em;
}

iframe {
  display: block;
  border-style:none;
}

.centerResume {
  display: block;
  height: 80%;
  margin: auto;
}



/* Navbar */

.nav{
  width:100%;
  text-align: center;
  background-color: white;
  z-index:1
}

.bottom-nav{
  position: absolute;
  bottom: 0;
}

.top-nav{
  position: fixed;
  top:0;
}

ul {
  padding-inline-start: 0px;
}

.nav ul li{
  list-style: none;
  display: inline-block;
}

.nav ul li .nav-link{
  font-family: 'Montserrat', sans-serif;
  color:dimgray;
  font-size: 20px;
  font-weight: 350;
  padding: 90px;
}

.nav ul li .nav-link:hover{
  color: #7fabe3;
}

/* icon bar (at the top) */

.icon-bar {
  text-align:center;
  width:10%;
  height:auto;
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center;
  width: 33%; /* Equal width (3 icons with 33% width each = 100%) */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: dimgray;
}

.icon-bar-link i{
  font-size: 25px;
}

.icon-bar a:hover {
  color: #7fabe3;
}

/* Navbar Pages */

.page-container{
  height: 100%;
  width: 100%;
  margin: 0 0;
}

.page-container .page{
  padding-top: 70px;
  height: 100vh;
}

.page-container .page .one {
  background-color: #E8E8E8;
}



/* Projects Section */

.projects-section {
  /*text-align: center;*/
  padding: 1rem 2rem;
  background: var(--main-blue);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    color: dimgray;
    font-family: monospace;
    font-weight:500;
    font-size: 1rem;
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25%);
  grid-gap: 1.5rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-evenly;
  padding-top: 1%;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 0.5rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project-image {
  height: calc(100% - 12rem); /* change */
  width: 80%;
  object-fit: cover;
}

.project-languages {
  color:#7fabe3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 350;
  font-size: 0.8rem;
  padding: 0rem 0.5rem;
  margin-bottom: 0%;
}

.project-title {
  color: dimgray;
  font-family: monospace;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0rem 0.5rem 0.5rem;
  margin-top: 0%;
  margin-bottom: 0%;
}

.project-description {
  color:#7fabe3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 350;
  font-size: 0.8rem;
  padding: 0rem 0.5rem;
  margin-top: 0%;
}


object {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Back To Top Button */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: dimgray; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 50px; /* Increase font size */
}

#myBtn:hover {
  color: #7fabe3; /* Add a dark-grey background on hover */
}